{% extends "main_template.html" %}
{% load humanize %}

{% block title %}
    لیست علاقه مندی ها
{% endblock title %}

{% block content %}
    {% if user_favorites %}
        <div class="site__body">
                <div class="page-header">
                    <div class="page-header__container container">
                        <div class="page-header__breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'main:index' %}">خانه</a>
                                        /
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">علاقه‌مندی‌ها</li>
                                </ol>
                            </nav>
                        </div>
                        <div class="page-header__title">
                            <h4>علاقه‌مندی‌ها</h4></div>
                    </div>
                </div>
                <div class="block">
                    <div class="container">
                        <table class="wishlist">
                            <thead class="wishlist__head">
                                <tr class="wishlist__row">
                                    <th class="wishlist__column wishlist__column--image">تصویر</th>
                                    <th class="wishlist__column wishlist__column--product">محصول</th>
                                    <th class="wishlist__column wishlist__column--stock">وضعیت انبار</th>
                                    <th class="wishlist__column wishlist__column--price">قیمت</th>
                                    <th class="wishlist__column wishlist__column--tocart"></th>
                                    <th class="wishlist__column wishlist__column--remove"></th>
                                </tr>
                            </thead>
                            <tbody class="wishlist__body">

                            {% for favorite in user_favorites %}
                                <tr class="wishlist__row">
                                    <td class="wishlist__column wishlist__column--image">
                                        <a href="{{ favorite.product.get_absolute_url }}"><img src="{{ media_url }}{{ favorite.product.image_name }}" alt=""></a>
                                    </td>
                                    <td class="wishlist__column wishlist__column--product">
                                        <a href="{{ favorite.product.get_absolute_url }}" class="wishlist__product-name">
                                            {{ favorite.product.product_name }}
                                        </a>
                                    </td>
                                    <td class="wishlist__column wishlist__column--stock">

                                        {% if favorite.product.get_number_in_warehouse > 0 %}
                                            <div class="badge badge-success">موجود در انبار</div>
                                        {% else %}
                                            <div class="badge badge-danger">نا موجود </div>
                                        {% endif %}
                                    </td>
                                    <td class="wishlist__column wishlist__column--price">{{ favorite.product.price|intcomma }} تومان</td>
                                    <td class="wishlist__column wishlist__column--tocart">
                                        {% if favorite.product.get_number_in_warehouse > 0 %}
                                            <button type="button" class="btn btn-primary btn-sm" onclick="add_to_shop_cart({{ favorite.product.id }},1)">افزودن به سبد</button>
                                        {% endif %}
                                    </td>
                                    <td class="wishlist__column wishlist__column--remove">
                                        <button onclick="delete_from_favorite_list({{ favorite.product.id }})" type="button" class="btn btn-light btn-sm btn-svg-icon">
                                            <i class="fa fa-eraser"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    {% else %}
        <div class="container">
            <h3 class="text_message_for_favorite_compare_list"> هنوز کالایی در لیست علاقه مندی ها ثبت نشده :( </h3>
        </div>
    {% endif %}
{% endblock content %}
