<div class="widget-filters__item">
    <div class="filter" data-collapse-item>
        <button type="button" class="filter__title" data-collapse-trigger>برند
            <i class="fa fa-angle-down" style="position: absolute;left: 0;"></i>
        </button>
        <div class="filter__body" data-collapse-content>
            <div class="filter__container">
                <div class="filter-list">
                    <div class="filter-list__list">

                        {% for brand in brands %}
                            <label class="filter-list__item">
                                <span class="filter-list__input input-check">
                                    <span class="input-check__body">
                                        <input name="brand" id="item_{{ brand.id }}" value="{{ brand.id }}" class="input-check__input" type="checkbox">
                                        <span class="input-check__box"></span>
                                        <svg class="input-check__icon" width="9px" height="7px">
                                            <use xlink:href="{{ media_url }}images/sprite.svg#check-9x7"></use>
                                        </svg>
                                    </span>
                                </span>
                                <span class="filter-list__title">{{ brand.brand_title }} </span>
                                <span class="filter-list__counter">{{ brand.products.all|length }}</span>
                            </label>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>