<div class="block block--highlighted block-categories block-categories--layout--compact">
            <div class="container">
                <div class="block-header">
                    <h3 class="block-header__title">دسته های محبوب</h3>
                    <div class="block-header__divider"></div>
                    <ul class="block-header__groups-list">
                <li>
                    <a type="button" href="{% url 'products:list_of_groups' %}"
                            class="block-header__group block-header__group--active"
                       style="width: 100px; text-align: center; height: 30px;">همه</a>
                </li>
            </ul>
                </div>
                <div class="block-categories__list">

                    {% for group in product_groups %}
                        <div class="block-categories__item category-card category-card--layout--compact">
                        <div class="category-card__body">
                            <div class="category-card__image">
                                <a href="{% url 'products:products_of_group' slug=group.slug %}">
                                    <img src="{{ media_url }}{{ group.image_name }}" alt="">
                                </a>
                            </div>
                            <div class="category-card__content">
                                <div class="category-card__name"><a href="{% url 'products:products_of_group' slug=group.slug %}">{{ group.group_title }}</a></div>
                                <div class="category-card__products">{{ group.products_of_group.all | length }} محصول</div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>