{% extends "main_template.html" %}
{% load render_partial %}
{% load social_share %}

{% block title %}
    فروشگاه
{% endblock title %}

{% block content %}
<div class="site__body">
    <div class="page-header">
        <div class="page-header__container container">
            <div class="page-header__breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">خانه</a>
                            /
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">محصولات</a>
                            /
                        </li>
                        <li class="active" aria-current="page">محصول</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="container">
            <div class="product product--layout--columnar" data-layout="columnar">
                <div class="product__content">
                    <!-- .product__gallery -->
                    <div class="product__gallery">
                        <div class="product-gallery">
                            <div class="product-gallery__featured">
                                <div class="owl-carousel" id="product-image">
                                    <a href="{{ media_url }}{{ product.image_name }}" target="_blank"><img src="{{ media_url }}{{ product.image_name }}" alt=""> </a>

                                    {% for image in product.galley_images.all%}
                                         <a href="{{ media_url }}{{ image.image_name }}" target="_blank"><img src="{{ media_url }}{{ image.image_name }}" alt=""> </a>
                                    {% endfor %}

                                </div>
                            </div>
                            <div class="product-gallery__carousel">
                                <div class="owl-carousel" id="product-carousel">
                                    <a href="" class="product-gallery__carousel-item"><img class="product-gallery__carousel-image" src="{{ media_url }}{{ product.image_name }}" alt=""> </a>
                                    {% for image in product.galley_images.all%}
                                         <a href="{{ media_url }}{{ image.image_name }}" target="_blank"><img src="{{ media_url }}{{ image.image_name }}" alt=""> </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .product__gallery / end -->
                    <!-- .product__info -->
                    <div class="product__info">
                        <div class="product__wishlist-compare">
                             {% if user.is_authenticated %}
                                {% if product.get_user_favorite %}
                                    <button
                                            class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist"
                                            type="button"
                                            onclick="FavoriteUpdate({{ product.id }})">
                                        <i id="heart_{{ product.id }}" class="fa fa-heart favorite"></i>
                                        <span
                                                class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
                                    </button>
                                {% else %}
                                    <button
                                            class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist"
                                            type="button"
                                            onclick="FavoriteUpdate({{ product.id }})">
                                        <i id="heart_{{ product.id }}" class="fa fa-heart "></i>
                                        <span
                                                class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
                                    </button>
                                {% endif %}
                            {% endif %}
                        </div>
                        <h1 class="product__name">{{ product.product_name }}</h1>
                        <div class="product__rating">
                            <div class="product__rating-stars">
                                <div class="rating">
                                    <div class="rating__body">
                                        <svg class="rating__star rating__star--active" width="13px" height="12px">
                                            <g class="rating__fill">
                                                <use xlink:href="images/sprite.svg#star-normal"></use>
                                            </g>
                                            <g class="rating__stroke">
                                                <use xlink:href="images/sprite.svg#star-normal-stroke"></use>
                                            </g>
                                        </svg>
                                        <div class="rating__star rating__star--only-edge rating__star--active">
                                            <div class="rating__fill">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                            <div class="rating__stroke">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                        </div>
                                        <svg class="rating__star rating__star--active" width="13px" height="12px">
                                            <g class="rating__fill">
                                                <use xlink:href="images/sprite.svg#star-normal"></use>
                                            </g>
                                            <g class="rating__stroke">
                                                <use xlink:href="images/sprite.svg#star-normal-stroke"></use>
                                            </g>
                                        </svg>
                                        <div class="rating__star rating__star--only-edge rating__star--active">
                                            <div class="rating__fill">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                            <div class="rating__stroke">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                        </div>
                                        <svg class="rating__star rating__star--active" width="13px" height="12px">
                                            <g class="rating__fill">
                                                <use xlink:href="images/sprite.svg#star-normal"></use>
                                            </g>
                                            <g class="rating__stroke">
                                                <use xlink:href="images/sprite.svg#star-normal-stroke"></use>
                                            </g>
                                        </svg>
                                        <div class="rating__star rating__star--only-edge rating__star--active">
                                            <div class="rating__fill">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                            <div class="rating__stroke">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                        </div>
                                        <svg class="rating__star rating__star--active" width="13px" height="12px">
                                            <g class="rating__fill">
                                                <use xlink:href="images/sprite.svg#star-normal"></use>
                                            </g>
                                            <g class="rating__stroke">
                                                <use xlink:href="images/sprite.svg#star-normal-stroke"></use>
                                            </g>
                                        </svg>
                                        <div class="rating__star rating__star--only-edge rating__star--active">
                                            <div class="rating__fill">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                            <div class="rating__stroke">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                        </div>
                                        <svg class="rating__star rating__star--active" width="13px" height="12px">
                                            <g class="rating__fill">
                                                <use xlink:href="images/sprite.svg#star-normal"></use>
                                            </g>
                                            <g class="rating__stroke">
                                                <use xlink:href="images/sprite.svg#star-normal-stroke"></use>
                                            </g>
                                        </svg>
                                        <div class="rating__star rating__star--only-edge rating__star--active">
                                            <div class="rating__fill">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                            <div class="rating__stroke">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product__description">
                            {% autoescape off %}
                                {{ product.summery_description }}
                            {% endautoescape %}
                        </div>
                        <!-- <ul class="product__features">
								<li>سرعت: 750 RPM</li>
								<li>منبع تغزیه: برق</li>
								<li>نوع باتری: لیتیوم</li>
								<li>ولتاژ: 20 ولت</li>
								<li>ظرفیت باتری: 2 ساعت</li>
							</ul> -->
                        <ul class="product__meta2">
                            <li style="margin-left: 200px; margin-right: 10px">برند: <span style="color: #ee4156">{{ product.brand }}</span></li>
                            <li>تعداد نظرات: <span style="color: #ee4156">{{ product.comments_of_product.all|length }}</span> نظر</li>
                        </ul>

                        <ul class="scoring">
                            <li style="margin-left: 130px; margin-right: 10px">میانگین امتیاز کالا : <span id="avg_score" style="color: #ee4156">{{ product.get_average_score }}</span></li>
                            {% if user.is_authenticated %}
                                <li>
                                    {% if product.get_user_score > 0 %}
                                        {% with ''|center:5 as range%}
                                            {% for i in range %}
                                                {% if forloop.counter <= product.get_user_score %}
                                                    <span id="star_{{ forloop.counter }}" class="fa fa-star checked cursor_pointer" onclick="addScore({{ forloop.counter }}, {{ product.id }})"></span>
                                                {% else %}
                                                    <span id="star_{{ forloop.counter }}" class="fa fa-star cursor_pointer" onclick="addScore({{ forloop.counter }}, {{ product.id }})"></span>
                                                {% endif %}
                                            {% endfor %}
                                        {% endwith %}
                                    {% else %}
                                        <span id="star_1" class="fa fa-star cursor_pointer" onclick="addScore(1, {{ product.id }})"></span>
                                        <span id="star_2" class="fa fa-star cursor_pointer" onclick="addScore(2, {{ product.id }})"></span>
                                        <span id="star_3" class="fa fa-star cursor_pointer" onclick="addScore(3, {{ product.id }})"></span>
                                        <span id="star_4" class="fa fa-star cursor_pointer" onclick="addScore(4, {{ product.id }})"></span>
                                        <span id="star_5" class="fa fa-star cursor_pointer" onclick="addScore(5, {{ product.id }})"></span>
                                    {% endif %}
                                </li>
                            {% endif %}
                        </ul>
                    <br>
                    <ul class="product__meta2">
                            <li style="margin-left: 200px; margin-bottom: 20px">
                                <button id="compare_btn_{{ product.id }}" type="button" class="btn btn-info" onclick="add_to_compare_list({{ product.id }})" style="cursor: pointer"> مقایسه  <i class="fa fa-clone"></i></button>
                            </li>
                            <li style="margin-bottom: 10px ">
                                {% post_to_telegram 'یوهول شاپ: {{ product.product_name }}' '' '<i class="fa fa-share-alt"></i>'  "btn btn-secondary share-btn" %}
                            </li>
                        </ul>
                    </div>
                    <!-- .product__info / end -->
                    <!-- .product__sidebar -->
                    <div class="product__sidebar">
                        {% if product.get_number_in_warehouse > 0 %}
                        <div class="product__availability">موجودی: <span class="text-success">موجود در انبار</span></div>
                        <div class="product__prices">{{ product.price }} تومان</div>
                        {% endif %}
                        <!-- .product__options -->
                        <form class="product__options">
                            <!-- <div class="form-group product__option">
									<label class="product__option-label">رنگ</label>
									<div class="input-radio-color">
										<div class="input-radio-color__list">
											<label class="input-radio-color__item input-radio-color__item--white" style="color: #fff;" data-toggle="tooltip" title="White">
												<input type="radio" name="color"> <span></span></label>
											<label class="input-radio-color__item" style="color: #ffd333;" data-toggle="tooltip" title="Yellow">
												<input type="radio" name="color"> <span></span></label>
											<label class="input-radio-color__item" style="color: #ff4040;" data-toggle="tooltip" title="Red">
												<input type="radio" name="color"> <span></span></label>
											<label class="input-radio-color__item input-radio-color__item--disabled" style="color: #4080ff;" data-toggle="tooltip" title="Blue">
												<input type="radio" name="color" disabled> <span></span></label>
										</div>
									</div>
								</div> -->
                            <div class="form-group product__option">
                                <label class="product__option-label">ویژگی های محصول :</label>
                                <div class="input-radio-label">
                                    <div class="input-radio-label__list">

                                        {% for feature in features %}
                                            <label>
                                            <input type="radio" name="material"> <span>{{ feature.feature }} : {{ feature.value }}</span></label>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                            {% if product.get_number_in_warehouse > 0 %}
                                <div class="form-group product__option">
                                    <label class="product__option-label" for="product-quantity">تعداد</label>
                                    <div class="product__actions">
                                        <div class="product__actions-item">
                                            <div class="input-number product__quantity">
                                                <input id="product-quantity" class="input-number__input form-control form-control-lg" type="number" min="1" value="1">
                                                <div class="input-number__add" onclick="add_to_input_number('product-quantity')"></div>
                                                <div class="input-number__sub" onclick="sub_to_input_number('product-quantity')"></div>
                                            </div>
                                        </div>
                                        <div class="product__actions-item product__actions-item--addtocart">
                                            <button class="btn btn-primary btn-lg" onclick="add_to_shop_cart({{ product.id }}, 0)">افزودن به سبد</button>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <h4 style="color:red;"> ناموجود</h4>
                            {% endif %}
                        </form>
                        <!-- .product__options / end -->
                    </div>
                    <!-- .product__end -->

                </div>
            </div>
            <div class="product-tabs">
                <div class="product-tabs__list"><a href="#tab-description" class="product-tabs__item product-tabs__item--active">توضیحات</a> <a href="#tab-specification" class="product-tabs__item">مشخصات فنی</a> <a href="#tab-reviews" class="product-tabs__item">دیدگاه ها</a></div>
                <div class="product-tabs__content">
                    <div class="product-tabs__pane product-tabs__pane--active" id="tab-description">
                        <div class="typography">
                            <h3>توضیحات کامل محصول</h3>
                            {% autoescape off %}
                                {{ product.description }}
                            {% endautoescape %}
                        </div>
                    </div>
                    <div class="product-tabs__pane" id="tab-specification">
                        <div class="spec">
                            <h3 class="spec__header">مشخصات فنی</h3>
                            <div class="spec__section">
                                {% for feature in all_features %}
                                    <div class="spec__row">
                                        <div class="spec__name">{{ feature.feature }}</div>
                                        <div class="spec__value">{{ feature.value }}</div>
                                    </div>
                                {% endfor %}

                            </div>

                        </div>
                    </div>
                    <div class="product-tabs__pane" id="tab-reviews">
                        <div class="reviews-view">
                            <div class="reviews-view__list">
                                <div class="reviews-list">
                                <h5 class="reviews-view__header">دیدگاه های مشتریان</h5>
                                    <ol class="reviews-list__content">
                                        {% if product.comments_of_product.all %}
                                            {% for comment in product.comments_of_product.all %}
                                                {% if comment.is_active %}
                                                    {% if comment.parent == None %}
                                                        <li class="card reviews-list__item" style="display: flex; justify-content: space-between; border: none">
                                                            <div class="review ">
                                                                {% if comment.commenting_user.customer_mode.first.image_name %}
                                                                    <div class="review__avatar">
                                                                        <img src="{{ media_url }}{{ comment.commenting_user.customer_mode.first.image_name }}" alt="">
                                                                    </div>
                                                                {% else %}
                                                                    <div class="review__avatar">
                                                                        <img src="{{ media_url }}/images/customers/profile-picture.png" alt="">
                                                                    </div>
                                                                {% endif %}

                                                                <div class="card review__content " style="border: none">
                                                                    <div class="review__author">{{ comment.commenting_user.name }} : </div>
                                                                    <div class="review__text">{{ comment.comment_text }}</div>
                                                                    <div class="review__date">{{ comment.register_date }}</div>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                {% if user.is_authenticated %}
                                                                    <div>
                                                                        <a style="width: 170px; margin-right: 30px; margin-top: 20px" class="btn btn-info btn-block" id="btn_{{ comment.id }}" onclick="showCreateCommentForm({{ product.id }}, {{ comment.id }}, '{{ product.slug }}');"> پاسخ </a>
                                                                    </div>
                                                                    <div class="reply__class" id="comment_form_{{ comment.id }}">
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                        </li>
                                                        {% for item in comment.comments_child.all %}
                                                            {% if item.is_active %}
                                                                <li class="reviews-list__item comment_children card" ">
                                                                    <div class="review">
                                                                        {% if comment.commenting_user.customer_mode.first.image_name %}
                                                                            <div class="review__avatar">
                                                                                <div class="review__reply" style="">درپاسخ به {{ item.commenting_user.name }} : </div>
                                                                                <img src="{{ media_url }}{{ comment.commenting_user.customer_mode.first.image_name }}" alt="">
                                                                            </div>
                                                                        {% else %}
                                                                            <div class="review__avatar">
                                                                                <div class="review__reply" style="">درپاسخ به {{ item.commenting_user.name }} : </div>
                                                                                <img src="{{ media_url }}/images/customers/profile-picture.png" alt="">
                                                                            </div>
                                                                        {% endif %}
                                                                        <div class="review__content card" style="border: none; background-color: beige;">
                                                                            <div class="review__author">{{ item.commenting_user.name }} : </div>
                                                                            <div class="review__text" style="margin-top: 10px">{{ item.comment_text }}</div>
                                                                            <div class="review__date">{{ item.register_date }}</div>
                                                                        </div>
                                                                    </div>

                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% else %}
                                                    {% endif %}
                                                    <hr>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <h4 class="reviews-view__header">هنوز دیدگاهی ثبت نشده است</h4>
                                        {% endif %}
                                    </ol>
{#                                    <div class="reviews-list__pagination">#}
{#                                        <ul class="pagination justify-content-center">#}
{#                                            <li class="page-item disabled">#}
{#                                                <a class="page-link page-link--with-arrow" href="" aria-label="Previous">#}
{#                                                    <svg class="page-link__arrow page-link__arrow--left" aria-hidden="true" width="8px" height="13px">#}
{#                                                        <use xlink:href="images/sprite.svg#arrow-rounded-left-8x13"></use>#}
{#                                                    </svg>#}
{#                                                </a>#}
{#                                            </li>#}
{#                                            <li class="page-item"><a class="page-link" href="">1</a></li>#}
{#                                            <li class="page-item active"><a class="page-link" href="">2 <span class="sr-only">(کنونی)</span></a></li>#}
{#                                            <li class="page-item"><a class="page-link" href="">3</a></li>#}
{#                                            <li class="page-item">#}
{#                                                <a class="page-link page-link--with-arrow" href="" aria-label="Next">#}
{#                                                    <svg class="page-link__arrow page-link__arrow--right" aria-hidden="true" width="8px" height="13px">#}
{#                                                        <use xlink:href="images/sprite.svg#arrow-rounded-right-8x13"></use>#}
{#                                                    </svg>#}
{#                                                </a>#}
{#                                            </li>#}
{#                                        </ul>#}
{#                                    </div>#}
                                </div>
                            </div >
                        <div style="padding-top: 50px">
                                {% if user.is_authenticated %}
                                    <h5 class="reviews-view__header">دیدگاه خود را بنویسید</h5>
                                    <div class="row">
                                        <div class="col-12 col-lg-9 col-xl-8">
                                            {% render_partial 'sc-co-fa:create_comment' slug=product.slug %}
                                        </div>
                                    </div>
                                {% else %}
                                    <h5>
                                    برای درج دیدگاه خود باید
                                    <a href="{% url 'accounts:login' %}?next=/products/product_details/{{ product.slug }}/" >ورود</a>
                                        یا
                                    <a href="{% url 'accounts:register' %}?next=/products/product_details/{{ product.slug }}/" >ثبت نام</a>
                                    کنید
                                    </h5>
                                {% endif %}
                        </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .block-products-carousel -->
    {% render_partial 'products:related_products' slug=product.slug %}
    <!-- .block-products-carousel / end -->
</div>
{% endblock content %}