<!DOCTYPE html>
{% load static %}
<html lang="fa" dir="rtl">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="format-detection" content="telephone=no">
	<title>{% block title %}{% endblock title %}</title>
    <link rel="shortcut icon" href="{{media_url}}/images/yuhool_shop_logo.png" type="image/png">
    <link rel="icon" href="{{media_url}}/images/yuhool_shop_logo.png" sizes="32x32" type="image/png">
	<!-- css -->
	<link rel="stylesheet" href="{% static 'vendor/bootstrap-4.5.3/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'vendor/owl-carousel-2.3.4/assets/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<!-- js -->
	<script src="{% static 'vendor/jquery-3.3.1/jquery.min.js' %}"></script>
	<script src="{% static 'vendor/bootstrap-4.5.3/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'vendor/owl-carousel-2.3.4/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/myscript.js' %}"></script>
	<!-- font - fontawesome -->
	<link rel="stylesheet" href="{% static 'vendor/fontawesome-5.6.3/css/all.min.css' %}">
</head>

<body>
		{% include 'partial/header.html' %}
        {% include "partial/messages.html" %}
        {% block content %}
		{% endblock content %}
		{% include 'partial/footer.html' %}
			
</body>

</html>