{% load render_partial %}

<div class="site-header__nav-panel">
      <div class="nav-panel">
        <div class="nav-panel__container container">
          <div class="nav-panel__row">
            <div class="nav-panel__logo">
              <a href="{% url 'main:index' %}">
                <img src="{{ media_url }}images/shopLogo.png" alt="">
              </a>
            </div>
            <!-- .nav-links -->
            <div class="nav-panel__nav-links nav-links">
              <ul class="nav-links__list">
                <li class="nav-links__item nav-links__item--with-submenu">
                  <a href="{% url 'main:index' %}">
                    <span><i class="fa fa-home"></i>&nbsp; خانه</span>
                  </a>
                </li>
                <li class="nav-links__item nav-links__item--with-submenu">
                  <a href="{% url 'products:list_of_groups' %}">
                    <span>
                      دسته بندی کالاها
                      &nbsp;
                      <i class="fa fa-angle-down"></i>
                    </span>
                  </a>
                  {% render_partial 'products:categories_in_navbar' %}
                </li>

                <li class="nav-links__item nav-links__item--with-submenu">
                  <a href="#">
                    <span>
                      حساب کاربری&nbsp;<i class="fa fa-angle-down"></i>
                    </span>
                  </a>
                  <div class="nav-links__menu">
                    <!-- .menu -->

                      {% if user.is_authenticated %}
                          <ul class="menu menu--layout--classic">
                            <li><a href="{% url 'accounts:logout' %}">خروج</a></li>
                          </ul>
                      {% else %}
                          <ul class="menu menu--layout--classic">
                            <li><a href="{% url 'accounts:login' %}">ورود</a></li>
                            <li><a href="{% url 'accounts:register' %}">ثبت نام</a></li>
                          </ul>
                      {% endif %}
                    <!-- .menu / end -->
                  </div>
                </li>
{#                <li class="nav-links__item nav-links__item--with-submenu">#}
{#                  <a href="blog.html">#}
{#                    <span><i class="fa fa-newspaper"></i>&nbsp; بلاگ</span>#}
{#                  </a>#}
{#                </li>#}

              </ul>
            </div>
            <!-- .nav-links / end -->
            <div class="nav-panel__indicators">
              <div class="indicator indicator--trigger--click">
                <button type="button" class="indicator__button">
                  <span class="indicator__area">
                    <i class="fa fa-search"></i>
                  </span>
                </button>
                <div class="indicator__dropdown">
                  <div class="drop-search">
                    <form action="{% url 'search:search_view' %}" class="drop-search__form">
                      <input class="drop-search__input" name="q"
                        placeholder="عنوان محصول مد نظر را جستوجو کنید..."
                        aria-label="Site search" type="text" autocomplete="off">
                      <button class="drop-search__button drop-search__button--submit"
                        type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                    </form>
                  </div>
                </div>
              </div>
                <div class="indicator">
                <a href="{% url 'products:show_compare_list' %}" class="indicator__button">
                  <span class="indicator__area">
                    <i class="fa fa-clone"></i>
{#                    <span class="indicator__value" id="favorites__value">0</span>#}
                  </span>
                </a>
              </div>
              <div class="indicator">
                <a href="{% url 'sc-co-fa:user_favorites' %}" class="indicator__button">
                  <span class="indicator__area">
                    <i class="fa fa-heart"></i>
                    <span class="indicator__value" id="favorites__value">0</span>
                  </span>
                </a>
              </div>
              <div class="indicator">
                <a href="{% url 'orders:shop_cart'%}" class="indicator__button">
                  <span class="indicator__area">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="indicator__value" id="indicator__value">0</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>