{% load humanize %}
<div class="widget-filters__item">
    <div class="filter =" data-collapse-item>
        <button type="button" class="filter__title" data-collapse-trigger>قیمت
            <i class="fa fa-angle-down" style="position: absolute;left: 0;"></i>
        </button>
        <div class="filter__body" data-collapse-content>
            <div class="filter__container">
                <div class="card-body" style="padding: 0;">
                    <span><strong id="sel_price">{{ res_aggre.max|intcomma }}</strong>&nbsp;تومان</span>
                    <br>
                    <input name="price" style="width: 200px;" type="range" min="{{ res_aggre.min}}" max="{{ res_aggre.max }}" value="{{ res_aggre.max }}" oninput="ShowVal(this.value)">
                    <br>
                    <span style="padding-left: 80px;">{{ res_aggre.min|intcomma }}</span>
                    <span>{{ res_aggre.max|intcomma }}</span>
                </div>
            </div>
        </div>
    </div>
</div>