{% extends "main_template.html" %}
{% load render_partial %}
{% load humanize %}

{% block title %}فاکتور سفارش{% endblock title %}

{% block content %}
    <div class="site__body" style="padding: 0px;">
        <div class="page-header">
            <div class="page-header__container container">
                <div class="page-header__breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'main:index' %}">خانه</a>
                                /
                            </li>

                            <li class="breadcrumb-item active" aria-current="page">پرداخت</li>
                        </ol>
                    </nav>
                </div>
                <div class="page-header__title">
                    <h1>فاکتور سفارش شما</h1></div>
            </div>
        </div>
        <div class="checkout block">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-12 col-lg-6 col-xl-5 mt-4 mt-lg-0">
                        <div class="card mb-0">
                            <div class="card-body">
                                <h3 class="card-title">سفارش شما</h3>
                                <table class="checkout__totals">
                                    <thead class="checkout__totals-header">
                                    <tr>
                                        <th>محصول</th>
                                        <th>تعداد</th>
                                        <th>جمع کل</th>
                                    </tr>
                                    </thead>
                                    <tbody class="checkout__totals-products">

                                    {% for item in shop_cart %}
                                        <tr>
                                            <td>{{ item.product }}</td>
                                            <td>{{ item.qty }}</td>
                                            <td>{{ item.total_price|intcomma }} تومان</td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                    <tbody class="checkout__totals-subtotals">
                                    <tr >
                                        <th>جمع جزء</th>
                                        <td colspan="2">{{ total_price|intcomma }} تومان</td>
                                    </tr>
                                    <tr>
                                        <th >حمل و نقل</th>
                                        <td colspan="2">{{ delivery }}</td>
                                    </tr>
                                    <tr>
                                        <th>مالیات</th>
                                        <td colspan="2">{{ tax|intcomma }} تومان </td>
                                    </tr>
                                    </tbody>
                                    <tfoot class="checkout__totals-footer">
                                    <tr>
                                        <th>جمع کل</th>
                                        <td colspan="2">{{ order_final_price|intcomma }} تومان</td>
                                    </tr>
                                    </tfoot>
                                </table>
                                <form action="{% url 'orders:apply_coupon' order_id=order.id %}" method="post" class="cart__coupon-form">
                                    {% csrf_token %}
                                    <label for="input-coupon-code" class="sr-only">رمز عبور</label>
                                    {{ form_coupon }}
                                    <button type="submit" class="btn btn-primary" >اعمال کد تخفیف</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-7">
                        <div class="card mb-lg-0">
                            <form action="{% url 'orders:checkout_order' order.id %}" method="post">
                                {% csrf_token %}
                                <div class="card-body">
                                    <h3 class="card-title">جزئیات پرداخت</h3>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="checkout-first-name">نام</label>
                                            {{ form.name }}
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="checkout-last-name">نام خانوادگی</label>
                                            {{ form.family }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="checkout-email"> ایمیل</label>
                                            {{ form.email }}
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="checkout-phone">تلفن</label>
                                            {{ form.phone_number }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="checkout-street-address">آدرس </label>
                                        {{ form.address }}
                                    </div>
                                    <div class="form-group">
                                            <label for="checkout-comment">توضیحات سفارش <span class="text-muted">(اختیاری)</span></label>
                                            {{ form.description }}
                                        </div>
                                    <div class="payment-methods">
                                        {{ form.peyment_type }}
                                    </div>

                                    <div class="checkout__agree form-group">
                                        <div class="form-check" ><span class="form-check-input input-check"><span class="input-check__body"><input onclick="AgreeClick()" class="input-check__input" type="checkbox" id="checkout-terms"> <span class="input-check__box"></span>
                                            <svg class="input-check__icon" width="9px" height="7px">
                                                <use xlink:href="images/sprite.svg#check-9x7"></use>
                                            </svg>
                                        </span>
                                        </span>
                                            <label class="form-check-label" for="checkout-terms">من <a target="_blank">قوانین و مقررات</a> را خوانده و موافقم *</label>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-xl btn-block" id="subi" disabled>ثبت سفارش</button>
                                </div>
                            </form>
                            <div class="card-divider"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}